
body {
    margin: 0;
    padding:20%;
    background-color: #D8E6CB;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    color: #32433d;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paginacao {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style:none;
}

.paginacao li {
    margin-inline: 2px;
    font-size: 18px;
}

.paginacao a {
    display: block;
    padding: 20px;
    background: #885062;
    color: #32433d;
    text-decoration: none;
}

.paginacao a:hover {
    color: #BAD3AF;
    background: #a25e73;
    transition: .2s;
}